build
.vscode
CMakePresets.json
cube-tracing.code-workspace
deps/Daxa
.out
vcpkg_installed/
CMakeFiles/
ALL_BUILD.vcxproj*
CMakeCache.txt
cube-tracing.sln
ZERO_CHECK*
vcpkg-manifest-install.log
cube-tracing.vcxproj*
cmake_install.cmake
